.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 510px;
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    max-width: 700px;
}

.right .img-con{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 80%;
    border: 1px solid #333;
}

.right .top{
    grid-column: 1/span 8;
    grid-row:1;
    padding-top: 20%;
    z-index:6;
    /* filter: blur(3px); */
    transition: filter 0.3s ease;
}

.right .bottom{
    grid-column: 2/-1;
    grid-row:1;
    z-index: 4;

    transition: filter 0.3s ease;
}


.right .bottom:hover {
    /* filter: brightness(70%) hue-rotate(18deg);
     */
     /* filter: grayscale(100%) contrast(150%); */
     /* filter:sepia(100%); */
     /* filter: contrast(160%) brightness(120%) saturate(0%) hue-rotate(160deg); */

    filter: blur(3px);
  }
  
.right .top:hover{
    /* filter: brightness(70%) hue-rotate(18deg); */
    /* filter: grayscale(100%) contrast(150%); */
    /* filter:sepia(100%); */
    /* filter: contrast(160%) brightness(120%) saturate(0%) hue-rotate(160deg); */
    filter: blur(3px);

  } 

  /* .hover-image {
    filter: blur(3px);
    transition: filter 0.3s ease;
  }
  
  .hover-image:hover {
    filter: none;
  } */
  